<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="header" style="width:fit-content; margin:0 auto">
		<a href="{% url 'places:catalog' %}">
			Places
		</a>
		<h2 style="display: inline;">
			|FoodDelivery|
		</h2>
		<a href="{% url 'catalog:catalog' %}">
			Catalog			
		</a>

	</div>
	{% block content %}
	{% endblock %}
</body>
</html>