{% for job in jobs %}
<div class="four-columns">
	<div class="block span-three phone-full-columns">
		<h3>
			<a href="{{ job.get_absolute_url }}">
				{{ job.job_title|title }}
			</a>
			<span class="salary">
				( {{ job.salary }}p)
			</span>
		</h3>
		<div class="five-columns">
			
			<div class="span-four">
				<div class="gray-back">
					{{ job.description|truncatewords:42|linebreaks }}
				</div>
				<h6 class="stick-to-right">
					{{ job.created.year }}.{{ job.created.month }}.{{ job.created.day }} {{ job.created.hour }}:{{ job.created.minute }}
				</h6>

			</div>
			<div style="margin-right: 0.1rem; margin-bottom: -0.5rem; margin-right: -1rem; border-radius: 0.2rem; padding: .2rem .5rem;" class="requirements reques-small">
				<h4>
					Requirements
				</h4>
				{% for req in job.requirements.all %}
				<h5>
					{{ req }}
				</h5>
				{% empty %}
					----
				{% endfor %}
			</div>

		</div>
		

	</div>
	<div class="block phone-hide">
		<div class="inline-bastards inline-top">
			<div>
				{% with job.owner as emp %}
				{% if emp.picture %}
					<div style="background: url({{ emp.picture.url }});" class="profile-pic-mid">
					</div>
					{% else %}
					<div style="background: url({% static 'img/prof_placeholder.jpg' %});" class="profile-pic-mid">
					</div>
					{% endif %}
				{% endwith %}
			</div>
			<div>
				<h3>
					<a href="{{ job.owner.get_absolute_url }}">
						{{ job.owner|title }}
					</a>
				</h3>
				<div class="gray-back">
					<h6>
						{{ job.owner.description|truncatechars:20 }}
					</h6>
				</div>
				<div>
					<a href="{{ job.owner.get_absolute_url }}">Visit</a>
				</div>

			</div>
		</div>
	</div>
</div>
{% endfor %}