{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="first-screen-back delete-back" style="background: linear-gradient(110deg, rgb(27, 16, 41) ,rgb(55, 0, 14) 50%, rgb(41, 40, 40) 50% , transparent 53%), url({% static 'img/smile-face.avif' %});">
</div>
<div class="content-width centered {% if not request.user.is_authenticated %}big-block-home-page{% endif %} phone-center phone-center-text" >
	<h1 class="mid-push white-text push-but-6">
		<strong>Apply for a job</strong> <br>
		and get it
	</h1>
	<div class="tight-30 fade-text phone-tight-40">
		Hi, this website is to help you and people to find a job. And to help the employeers to find an employee
	</div>
	{% if not request.user.is_authenticated %}
		<div class="button-classy phone-center push-but-3">
			<a href="{% url 'users:register' %}">
			Register and find a job
		</a>
		</div>
	{% endif %}

</div>

<div class="content-width centered"> 
	<div class="five-columns styled-block">

		<div class="phone-hide">
			<h3>
			 	<a href="{% url 'users:list' %}">Emplloyees</a>
			</h3>
			{% for emp in employees %}
			<div class="block lil-push">
				<div class="inline-bastards inline-top">
					<div>
						<div class="profile-pic-wrap">
							{% if emp.picture %}
							<div style="background: url({{ emp.picture.url }});" class="profile-pic-small">
							</div>
							{% else %}
							<div style="background: url({% static 'img/prof_placeholder.jpg' %});" class="profile-pic-small">
							</div>
							{% endif %}
						</div>
					</div>
					<div>
						<h4>
							<a href="{{ emp.get_absolute_url }}">
								{{ emp|title }}
							</a>
						</h4>
						<h6>
							Since: {{ emp.user.date_joined.day }}.{{ emp.user.date_joined.month }}.{{ emp.user.date_joined.year }}
						</h6>
		
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

		<div class='span-four phone-full-columns'>
			<div>
				<h3 class="fade-text">
					Total jobs: {{ jobs_total }}
				</h3>
				{% if is_search %}
					<a href="{% url 'jobs:main' %}">undo search</a>
				{% endif %}
			</div>
			<div>
				<form method="GET" class="inline-bastards">
					<div>
						{{ form.search }}
					</div>				
					<div class="phone-only">
						{{ form.salary_from }}
					</div>
					<div class="phone-only">
						{{ form.salary_to }}
					</div>
					<input type="submit">
				</form>
			</div>
			<div id="jobs-list">
				{% for job in jobs %}
				<div class="four-columns">
					<div class="block span-three phone-full-columns">
						<h3>
							<a href="{{ job.get_absolute_url }}">
								{{ job.job_title|title }}
							</a>
							<span class="fade-text">
								( {{ job.salary }}p)
							</span>
						</h3>
						<div class="five-columns">
							
							<div class="span-four">
								<div class="gray-back">
									{{ job.description }}
								</div>
								<h6 class="stick-to-right">
									{{ job.created.year }}.{{ job.created.month }}.{{ job.created.day }} {{ job.created.hour }}:{{ job.created.minute }}
								</h6>
	
							</div>
							<div style="margin-right: 0.1rem; margin-bottom: -0.5rem; margin-right: -1rem; border-radius: 0.2rem; padding: .2rem .5rem;" class="requirements reques-small">
								<h4>
									Requirements
								</h4>
								{% for req in job.requirements.all %}
								<h5>
									{{ req }}
								</h5>
								{% empty %}
									----
								{% endfor %}
							</div>
	
						</div>
						
	
					</div>
					<div class="block phone-hide">
						<div class="inline-bastards inline-top">
							<div>
								{% with job.owner as emp %}
								{% if emp.picture %}
									<div style="background: url({{ emp.picture.url }});" class="profile-pic-mid">
									</div>
									{% else %}
									<div style="background: url({% static 'img/prof_placeholder.jpg' %});" class="profile-pic-mid">
									</div>
									{% endif %}
								{% endwith %}
							</div>
							<div>
								<h3>
									<a href="{{ job.owner.get_absolute_url }}">
										{{ job.owner|title }}
									</a>
								</h3>
								<div class="gray-back">
									<h6>
										{{ job.owner.description|truncatechars:20 }}
									</h6>
								</div>
								<div>
									<a href="{{ job.owner.get_absolute_url }}">Visit</a>
								</div>
	
							</div>
						</div>
					</div>
				</div>
			{% empty %}
			
				pass
			{% endfor %}
	
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block afterbody %}
	<script language="JavaScript" type="text/javascript" src="{% static '/js/jquery-1.2.6.min.js' %}"></script>
	<!-- <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script> -->
	<!-- <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script> -->
	
	<script>
		var page = 1;
		var empty_page = false;
		var block_request = false;
		var jobs_list = document.getElementById('jobs-list')
	
		window.onscroll = function () { 
			var margin = document.body.scrollHeight - window.innerHeight - 100;
			if (pageYOffset > margin && empty_page == false && block_request == false) {
				block_request = true;
				page += 1;			

	
				$.get('?page=' + page, function(data) {
					if (data == '') {
						empty_page=true;
					} else {
						block_request = false;
						jobs_list.innerHTML += data;
					}
				});
			};
			};
	</script>


{% endblock %}
